REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_SECONDS=60
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_CDS=market-data-cds
KAFKA_TOPIC_BONDS=market-data-bonds
NUM_INSTRUMENTS=50000
DATABASE_URL=postgresql://postgres:postgres@postgres/credit_risk