# API
fastapi==0.111.0
uvicorn[standard]==0.29.0

# Streaming
confluent-kafka==2.3.0

# Cache
redis==5.0.4

# Numerics
numpy==2.2.0
scipy==1.15.0

# Environment
python-dotenv==1.0.1

# Testing
pytest==8.2.0
pytest-asyncio==0.23.6

sqlalchemy==2.0.36
psycopg[binary]==3.2.4